#confirmation {
    margin-top: 200px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.buttons {
    .btn{
        margin-left: 25px;
        margin-right: 25px;
    }
}